.app {
  text-align: center;
  margin-top: 50px;
}

.quote-box {
  background-color: white; /* White background for the quote box */
  border: 1px solid rgb(223, 225, 211); /* Grey border */
  box-shadow: 0px 50px 80px rgba(127, 122, 122, 0.2);
  width: 60%;
  height: 200px; 
  margin: 0 auto;
  padding: 20px;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.quote {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  max-width: 100%;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
   /* Ensures no text overflow */
}

.author {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px; /* Ensures space between buttons and quote */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 30px; /* Spacing between buttons */
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #30fc4e; /* Active state for mobile screens */
}

button:focus {
  outline: none;
}
@media(max-width:768px){
  .quote-box{
    width: 80%;
    height: 150px;
  }
  .quote{
    font-size: 1rem;
  }
  .author{
    font-size: 0.9rem;
  }
  .buttons{
    flex-direction: row;
    margin-bottom: 10px;
  }
  button {
    /* margin: 10px 10px;
    width: 80%;  */
    font-size: 14px;
    padding: 8px 16px;
    width: auto;
    
  }
  
}

/* Media Query for very small mobile screens (e.g., < 480px) */
@media (max-width: 480px) {
  .quote-box {
    width: 90%; /* Make the quote box almost full-width */
    height: 120px; /* Further reduce height for smaller screens */
  }

  button {
    width: 100%; /* Full-width buttons on very small screens */
  }

  

}
